
/* pre		 { } /* white-space: pre-wrap; word-break: break-all; } */
pre		 { width:100%; tab-size: 4; }
textarea { width:100%; caret-color:red; }


#stack	{ color:cyan; }
#pad	{ color:cyan; border-color: darkcyan; }
#words	{ color:lightblue; }

#slider {
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	display: inline-block;
	border: solid 1px; border-color: darkblue;
	
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;	
}

#slider>* {
	
  display: flex;
  flex: 0 0 45%;
  	
	border-style: solid;
	border-width: 1px;
	border-color: #444444;
	width: auto;
	display: inline-block;
	vertical-align:top;
}

