html,body { width:100%; overflow: hidden; margin: 0; padding: 0; }

* {
	background: black; color: lightgreen;
	font-family: Consolas,monospace,monospace; font-size: 4mm;
	margin: 0; 
}

label[for=error]	{ color:yellow; }

#plan	{ color: cyan; }
#words	{ color: darkcyan; max-width: 99%;
			word-wrap: break-word; white-space: pre-wrap; }
#plot	{ padding:5px; }

#cmd	{ position: absolute; bottom:0; width:100%; }
#pad	{ width:100%; caret-color:red; border-color: darkgreen; }
#go		{ width:100%; background: darkslategray; height: 5vmin; }
#file	{ width:100%; }
#log	{ width:100%; }

#dump {
	width: 99%; height: 99%; overflow: auto;
	border: solid 1px; border-color: darkgreen;
}

#slider {
	max-height: 100%;
	border: solid 1px; border-color: darkgreen;
}

#slider > * {
	overflow: auto; max-height: 55%;
	border: solid 1px; border-color: darkgreen;
	display: inline-block;
}

@media only screen and (max-width: 800px) {
	*	{ font-size:	5mm; }
	#go	{ height:		11vmin; }
	#slider > * { max-height: 33%; }
}
