{% extends "template.html" %}

{% block body %}

logout: <a href="\logout">{{current_user.get_id()}}</a>

<div id=slider>

<pre id=stack>{{ S }}</pre>

<pre id=words>{{ W }}</pre>

<pre id=log># Hello</pre>

</div>

<form id=cmd action="" method=post novalidate>
{{ form.hidden_tag() }}
{{ form.error.label }}
<!--textarea autocorrect=off id=meta rows=3>{{ PEGJS }}</textarea-->
{{ form.pad() }}
{{ form.go() }}
</form>

<script>
window.onload = function() {
	cmd		= document.getElementById('cmd');
	slider	= document.getElementById('slider');
	window.onresize();
}

window.onresize = function() {
	slider.style.height = cmd.offsetTop-5;
}
</script>

{% endblock %}
