{% extends "template.html" %}

{% block body %}

<div id=slider>
<pre id=vm>{{ vm }}</pre>
<pre id=plan>{{ plan }}</pre>
<pre id=words>{{ words }}</pre>
</div>

<form id=cmd action="" method=post novalidate>
{{ form.hidden_tag() }}
{{ form.error.label }}
{{ form.pad(autofocus=true,rows=3,autocorrect='off') }}
{{ form.go() }}
</form>

{% endblock %}

{% block script %}

window.onload = function() {
	
	cmd		= document.getElementById('cmd');
	slider	= document.getElementById('slider');
	
	window.onresize();
	
	cmd.onkeydown = function(e) {
		if(e.keyCode == 13 && e.ctrlKey) { cmd.submit() }
	}
}

window.onresize = function() {
	slider.style.height = cmd.offsetTop-5;
}

{% endblock %}
